.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: -1;
  top: 0;
  overflow-x: hidden;
  padding-top: 100px;
}

.left {
  left: 0;
  background-color: #0f62fe;
}

.right {
  right: 0;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: 50px;
  transform: translate(-50%, -50%);
  text-align: centers;
}

.name_title {
  font-size: 48px;
  color: black;
  text-align: left;
  padding-bottom: 20px;
}

.brief_description {
  text-align: center;
}

.profile_image {
  width: 500px;
  height: auto;
}

.ibmplex {
  font-weight: 600;
  margin-top: -40px;
  font-size: 65px;
  font-family: 'IBM Plex Sans', sans-serif;
}

.alizain {
  font-weight: 200;
  font-size: 45px;
  font-family: 'Nanum Myeongjo', serif;
}
